<div class="navBar">
    <div class="logo">
        <a href="/"><p>LOGO</p></a>
    </div>

    <div class="navFunctions">
        <a href="/post/new" class="navNoticias">CADASTRAR NOTÍCIAS</a>
        <a href="/" class="navNoticias">EXIBIR NOTÍCIAS</a>
        <div class="divFormSearch">
            <form action="/post/search" method="post" class="searchForm">
                <input type="text" name="search">
                <button type="submit"><img src="../../lupa.png" alt="lupa" width="24" height="24"></button>
            </form>
        </div>
    </div>
</div>

<div class="navSpacing"></div>