<div class="navBar">
    <div class="logo">
        <p>LOGO</p>
    </div>

    <div class="navFunctions">
        <a href="/" class="navNoticias">CADASTRAR NOTICIAS</a>
        <a href="/" class="navNoticias">EXIBIR NOTICIAS</a>
        <div class="divFormSearch">
            <form action="/post/search" method="post" class="searchForm">
                <input type="text" name="search">
                <button type="submit"><img src="../lupa.png" alt="lupa" width="24" height="24"></button>
            </form>
        </div>
    </div>
</div>

<div class="navSpacing"></div>