* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.navBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;    
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(192, 190, 190, 0.9);
}

.logo {
    margin-left: 15%;
    margin-right: 5%;
    font-weight: bold;
    font-size: 25px;
}

.navFunctions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 15% 0 0px;
}

.navNoticias {
    color: black;
    text-decoration: none;
    margin: 0 45px 0 0;
    text-transform: uppercase;
    font-weight: bold;
}

.searchForm {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.divFormSearch {
    background-color: white;
    border-radius: 15px;
    height: 30px;
    width: 245px;
}

.divFormSearch input {
    width: 70%;
    margin-top: 5px;
    background: none;
    border: none;
    width: 70%;
}

.divFormSearch input:focus {
    outline: none;
}


.divFormSearch button {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: none;
    background-color: rgb(247, 245, 244);
}
.divFormSearch button:hover {
    cursor: pointer;
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;    
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(199, 199, 199, 1);
}

.main-container {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(224, 224, 224);
    padding-top: 3%;
    padding-bottom: 3%;
}

.navSpacing {
    display: block;
    height: 70px;
    width: 100%;
}

.posts-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 100%;
    width: 50%;

}

.post {
    background-color: white;
    min-height: 40%;
    height: 230px;
    min-width: 190px;
    width: 20%;
    padding: 20px;
    margin: 10px 20px;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5%;
    transition: 0.5 ease-in-out;
}

.post:hover {
    box-shadow: 0 0 3px 4px black;
}

.post h4 {
    margin-bottom: 10px;
}

.post a {
    text-decoration: none;
    color: black;
}

.postButtons {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    margin-left: -10%;
}

.postButtons div {
    position: relative;
    min-width: 50%;
    height: 50%;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-start;
    margin: 15px 0 10px 0;
}

.update {
    background-color: rgb(64, 236, 248);
    justify-self: flex-start;
}

.delete {
    background-color: rgb(238, 81, 81);
    justify-self: flex-start;
    
}

.mainFormContainer {
    height: 85vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(224, 224, 224);
}

.mainFormContainer div {
    background-color: white;
    margin-top: 5%;
    width: 20%;
    height: 35%;
    min-width: 210px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3%;
}

.postForm {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.postForm label,
.postForm button {
    align-self: flex-start;
    margin: 35px 0 5px 0;
} 

.postForm button:hover {
    cursor: pointer;
}

.mainPost {
    background-color: white;
    width: 40%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 2%;
}

.mainPost h2 {
    margin-top: 5%;
}

.mainPost p {
    margin: 8%;
}


