<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="main-container">
    <div class="error-container">
        <div class="error-message">
            <h4>Ocorreu um erro durante a utilização do Site!</h4>
        </div>
    </div>
</div>

<%- include('includes/footer') %>